#email,
#password,
button {
  margin-top: 10px;
  font-size: 18px;
}

#FPBtn,
.Btn1 {
  margin-left: 10px;
}

#loginContainer {
  margin-top: 50px;
  text-align: center;
}

#loginForm {
  display: inline-block;
  text-align: left;
}

#error {
  color: red;
  margin-top: 10px;
}
#email,
#password {
  width: 250px;
  padding: 8px;
}
button {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}
button:hover {
  background-color: #45a049;
}
#FPBtn,
.Btn1 {
  /* width: auto; */
  padding: 8px 16px;
  background-color: #008cba;
}

#FPBtn:hover,
.Btn1:hover {
  background-color: #007bb5;
}

.size {
  width: 80px;
}
.btnsize {
  padding: 10px;
}

#userManagement {
  margin: 20px;
}
#userForm input {
  margin: 5px 0;
  padding: 8px;
  width: 300px;
}
#userForm label {
  font-weight: bold;
}
#userForm button {
  width: auto;
  padding: 8px 16px;
  margin-top: 10px;
}
#userManagement ul {
  list-style-type: none;
  padding: 0;
}
#userManagement li {
  margin-bottom: 15px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}
